#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.body-content{
  height:100%;
  position: fixed;
  align-self: auto;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width:100%;
  padding: 20px;

}

.container{
    height:60vh;
    width:50vw;
    border:1px solid grey;
    margin-top:25vh;
   
}

button{
    color:black;
}
.inputField{
    margin-top: 2vh;
    display: inline-flex ;
    width:50vw;
}

.inputField label{
    font-size: 4rem;
    font-weight: normal;
    margin-left: 8vw;
}

.inputField input{
    height:5vh;
    width:15vw;
    color:blue;
    font-size: 2rem;
    padding-left: 2vw;
    margin-left: 2vw;
    margin-top: 1vh;
}

#displayTime{
    height:15vh;
    font-size: 10rem;
    font-weight: bold;
    margin: 2vh;
    text-align: center;
}

#startButton,#pauseButton,#resumeButton,#resetButton{
    width:10vw;
    height:5vh;
    margin-top: 1vh;
    margin-left: 2vw;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.pause-resume{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    visibility: hidden;
}

.start-reset{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#resetButton,#startButton{
    margin-top: 3vh;
}

/* media query */

@media (max-width: 800px){

    .container{
        width:90vw;
        margin-top: 20vh;  
    }

    .inputField input{
        width:25vw;
    }

    #startButton,#pauseButton,#resumeButton,#resetButton{
        width:20vw;
    }
}

@media (max-width:620px){
    /* .image-sm{
        visibility:"true";
    } */
}